@import url('https://fonts.googleapis.com/css?family=Dosis');
$fL_main: #fee341;
$fL_light: #fcf289;
$fL_lighter: #f9f3d4;
$blue_main: #44abe0;
$pink_main: #ed186a;
$fL_green: #009444;
$fL_orange: #f7941d;
$fL_text: #484646;
$white: #fff;

$fontMain: 'Dosis';
